$primary: #91f5ad;
$secondary: #2e5eaa;
$pure-black: #000000;
$card-dark-background: #1e1e1e;
$player-green: #3cee18;
$player-red: #fe5f55;

:export {
    primary: $primary;
    secondary: $secondary;
    pureBlack: $pure-black;
    cardDarkBackground: $card-dark-background;
    playerGreen: $player-green;
    playerRed: $player-red;
}
