$primary-dark: #91f5ad;
$primary-light: #26c485;
$secondary-dark: #2e5eaa;
$secondary-light: #a3e7fc;
$pure-black: #000000;
$card-dark-background: #1e1e1e;
$player-green: #3cee18;
$player-red: #fe5f55;
$light-gray: #787878;
$gold: #efbf04;

$bad: #d72638;
$regular: #f0a202;
$good: #91f5ad;
$perfect: #01baef;

:export {
    primaryDark: $primary-dark;
    primaryLight: $primary-light;
    secondaryDark: $secondary-dark;
    secondaryLight: $secondary-light;
    pureBlack: $pure-black;
    cardDarkBackground: $card-dark-background;
    playerGreen: $player-green;
    playerRed: $player-red;
    lightGray: $light-gray;
    gold: $gold;

    bad: $bad;
    regular: $regular;
    good: $good;
    perfect: $perfect;
}
